<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <!-- Configure emailTo, emailFrom, emailFromPassword, smtpHost, smtpPort, enableSsl -->
      <add key="emailTo" value="emailTo"/>
      <add key="emailFrom" value="emailFrom"/>
      <add key="emailFromPassword" value="emailFromPassword"/>
      <add key="directory" value="directory"/>
      <add key="messageBody" value="Test message"/>
      <add key="subject" value="Test subject"/>
      <add key="fileAttachmentRetryDelay" value="20"/>
      <add key="fileAttachmentMaxRetries" value="3"/>
      <add key="fileDeletionRetryDelay" value="10"/>
      <add key="fileDeletionMaxRetries" value="5"/>
      <add key="smtpHost" value="smtpHost"/>
      <add key="smtpPort" value="smtpPort"/>
      <add key="enableSsl" value="enableSsl"/>
      <add key="timeout" value="10000"/>
      <add key="trackedFileExtension" value="txt"/>
    </appSettings>
</configuration>